[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
numpy = "*"
scipy = "*"
matplotlib = "*"
jax = {extras = ["cpu"], version = "*"}
numpyro = "*"
seaborn = "*"
scikit-learn = "*"
scikit-learn-extra = "*"
torch = "*"

[dev-packages]

[requires]
python_version = "3.9"
